<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bogdan</title>
</head>
<body>
<p>Богдан - славний бусурман</p>
    Буря, ніч, жага до крові<br/>
    Мрія, жабки паперові<br/>
    Крик, насилля та жахи<br/>
    Річка, небо, соняхи<br/>
    "Град", "Торнадо", "Сонцепік"<br/>
    Вбили всіх, начхать на вік<br/>
    Били по дітям, по люду<br/>
    У серця внесли отруту<br/>
<br/>
    Та не зломляться сини<br/>
    І повстануть із землі<br/>
    Знов візьмуть у руки зброю<br/>
    Піднесуть до неба волю<br/>
    Знищать злую хмару ту<br/>
    Не врятує Бог Москву<br/>
    І вернемся в рідний дім<br/>
    Буде мир та спів у нім.<br/>
</body>
</html>