<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivan</title>
</head>
<body>
<p>Іван - наш шановний пан</p>
На Аскольдовій Могилі<br/>
Поховали їх —<br/>
Тридцять мучнів українців,<br/>
Славних молодих...<br/>
На Аскольдовій Могилі<br/>
Український цвіт —<br/>
По кривавій по дорозі<br/>
Нам іти у світ.<br/>
На кого посміла знятись<br/>
Зрадника рука?<br/>
Квітне сонце, грає вітер<br/>
І Дніпро-ріка...<br/>
На кого завзявся<br/>
Каїн Боже, покарай! —<br/>
Понад все вони любили<br/>
Свій коханий край.<br/>
Вмерли в Новім Заповіті<br/>
З славою святих. —<br/>
На Аскольдовій Могилі<br/>
Поховали їх.<br/>
</body>
</html>